<div id="autos-list">Cargando autos...</div>

		<script>
			async function fetchAutos() {
				const response = await fetch('https://ingenious-jaguar-f974f7.instawp.xyz/wp-json/wp/v2/autos?author=2&acf_format=standard');
				const autosData = await response.json();
				
				const autosList = document.getElementById('autos-list');
				if (autosData && Array.isArray(autosData) && autosData.length > 0) {
					const listItems = autosData.map(auto => `
						<li key="${auto.id}">
							<h2 class="text-2xl font-bold text-blue-600">${auto.title.rendered}</h2>
							${auto.imageUrl ? `<img src="${auto.imageUrl}" alt="${auto.title.rendered}" />` : ''}
							<p style="color: ${auto.acf.color}">Marca: ${auto.acf.marca}</p>
							<p ><strong>Modelo:</strong> ${auto.acf.modelo}</p>
							<p><strong>Descripción:</strong> ${auto.acf.descripcion}</p>
							<p><strong>Color:</strong> <span style="color: ${auto.acf.color}">${auto.acf.color}</span></p>
							${auto.acf.foto ? `<div><img src="${auto.acf.foto}" alt="${auto.acf.marca}" /></div>` : ''}
						</li>
					`).join('');
					autosList.innerHTML = `<ul>${listItems}</ul>`;
				} else {
					autosList.innerHTML = '<p>No se pudieron recuperar los datos o no hay autos disponibles.</p>';
				}
			}

			fetchAutos();
		</script>